* {
    text-align: center;
    background-color: rgb(150, 241, 253);
}
ul {
    list-style: none;
}
section{
    text-align: center;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
p {
    flex-direction: column;
    max-width: 400px;
    border-left: 5px solid black;
}
div h2 {
    position:relative;
    right:50px;
    top:200px;
}
.top {
    position:relative;
    right: 150px;
    top:300px;
}